__pycache__
amoebaelib/__pycache__
misc_scripts/__pycache__
settings.py
*.aux
*.bbl
*.blg
*.glo
*.log
*.out
*.toc
*.xdy
*.swp
*.DS_Store
*.idx
*.lof
*.log
*.lot
*.out
*.glg
*.glsdefs
*.gls
*.ist
*help_output.tex
*.sif
pid_nohup.txt
.snakemake
results
documentation/code_documentation/rst/*
documentation/code_documentation/html/*
