#!/usr/bin/env python3
# Copyright 2018 Lael D. Barlow
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# 
"""This file contains definitions of variables used by scripts in the AMOEBAE
toolkit. 
"""
import os


#############################################################################
# The following are miscellaneous settings.

# Set variables to be used for the align_fa.py script.
blosum62_path = '~/Documents/Scripts/amoebae/amoebaelib/blosum62'
cc140_path = '~/Documents/Scripts/amoebae/amoebaelib/CC140.txt'
align_fa_matrix = 'blosum62' # 'blosum62' or 'cc140', only optional for mafft.
align_fa_program = 'muscle' # 'muscle' or 'mafft'

# Set name of RAxML installation as called from the command line.
raxmlname = 'raxmlHPC-AVX2'


# Genetic code number for TBLASTN searches (change from 1 to 6 if searching in
# Ciliates).
# WARNING: This will use the same genetic code for all genomes that you are
# searching in, so make sure that they all have the same genetic code.
tblastn_ncbi_gen_code = '1'

